In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Savvy Sahai\\Desktop\\Stats.csv")
print(df)

        Name  Salary Country
0        Dan   40000     USA
1  Elizabeth   32000  Brazil
2        Jon   45000   Italy
3      Maria   54000     USA
4       Mark   72000     USA
5       Bill   62000  Brazil
6       Jess   92000   Italy
7      Julia   55000     USA
8       Jeff   35000   Italy
9        Ben   48000  Brazil

In [6]:
mean = df['Salary'].mean()
print (mean)

53500.0

In [7]:
sum1 = df["Salary"].sum()
print(sum1)

535000

In [8]:
max1 = df["Salary"].max()
print(max1)

92000

In [9]:
min1 = df["Salary"].min()
print(min1)

32000

In [10]:
count = df['Salary'].count()
print(count)

10

In [11]:
median = df["Salary"].median()
print(median)

51000.0

In [15]:
std = df["Salary"].std()
print(std)

18222.391598128816

In [16]:
var = df["Salary"].var()
print(var)

332055555.5555556

In [17]:
sum_group_by_Country = df.groupby(["Country"]).sum()
print(sum_group_by_Country)

         Salary
Country
Brazil   142000
Italy    172000
USA      221000

In [18]:
count_group_by_Country = df.groupby(["Country"]).count()
print(count_group_by_Country)

         Name  Salary
Country
Brazil      3       3
Italy       3       3
USA         4       4

In [19]:
print("Mean salary: " +str(mean))
print("Sum salary: " +str(sum1))
print("Maximum salary: " +str(max1))
print("Minimum salary: " +str(min1))
print("Count of salary: " +str(count))
print("Median salary: " +str(median))
print("Standard deviation of the given salary: " +str(std))
print("Variance of the given salaries: " +str(var))
print("Sum of salaries, grouped by the Country: " +str(sum_group_by_Country))
print("Count of salaries, grouped by the Country: " +str(count_group_by_Country))

Mean salary: 53500.0
Sum salary: 535000
Maximum salary: 92000
Minimum salary: 32000
Count of salary: 10
Median salary: 51000.0
Standard deviation of the given salary: 18222.391598128816
Variance of the given salaries: 332055555.5555556
Sum of salaries, grouped by the Country:          Salary
Country
Brazil   142000
Italy    172000
USA      221000
Count of salaries, grouped by the Country:          Name  Salary
Country
Brazil      3       3
Italy       3       3
USA         4       4